<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AyuboCarRentManagementSystem.Properties.Settings.db_ayuborentmanagementsystemConnectionString"
            connectionString="server=localhost;user id=root;database=db_ayuborentmanagementsystem"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>